* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    font-family: sans-serif;
}

h1 {
    position: absolute;
    top: 10px;
    color: #eaa5fa;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 img {
    width: 70px;
}

h1 span {
    margin-left: 5px;
    color: rgb(255, 0, 255);
}

@media (max-width:768px) {
    h1 {
        font-size: 1.8rem;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video,
img.shot {
    width: 400px;
    height: 200px;
    margin: 10px auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}